APP_ENV=production

COWRIE_JSON_PATH=/home/cowrie/cowrie/var/log/cowrie/cowrie.json
OFFSET_PATH=/home/cowrie/iforest/cowrie_offset.json

MODEL_PATH=/home/cowrie/iforest/models/isolation_forest_model.pkl
IMPUTER_PATH=/home/cowrie/iforest/models/simple_imputer.pkl
FEATURE_COLUMNS_PATH=/home/cowrie/iforest/models/feature_columns.pkl
THRESHOLD_PATH=/home/cowrie/iforest/models/threshold_anomaly_score.pkl

DB_HOST=localhost
DB_PORT=3306
DB_NAME=cowrie
DB_USER=cowrie
DB_PASSWORD=cowrie

POLL_INTERVAL_SECONDS=10
STORE_ONLY_ANOMALIES=false

GEOLOCATION_ENABLED=true
GEOLOCATION_URL=http://ip-api.com/json
GEOLOCATION_TIMEOUT_SECONDS=5
